header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 25;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  background: #0d0d1a;
}

.header__searchBtn {
  display: none;
}

.header__nav > button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background: none !important;
  display: none;
}

.header__search {
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 600px;
  transition: 0.5s ease-in-out;
}

.header__search.active {
  border-color: rgb(39, 194, 138);
}

.header__search svg {
  transition: 0.5s ease-in-out;
}

.header__search svg.s__active {
  color: rgb(39, 194, 138);
}

.header__search input {
  border: none;
  outline: none;
  appearance: none;
  flex: 1 1;
  padding: 0 3px;
  background: none;
  color: white;
}
.header__search svg,
.header__icon {
  color: white;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header__spC,
.header__sp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.header__sp .header__icon {
  margin-right: 3px;
}

.header__icon {
  width: 25px;
  height: 25px;
  transition: 0.5s ease-in-out;
}

.header__icon:hover {
  transform: scale(1.1);
  color: rgb(39, 194, 138);
}

.header__notify {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.header__notify > span {
  position: absolute;
  top: 2px;
  right: 3px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: rgb(39, 194, 138);
  text-align: c;
}

.header__list {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  overflow: auto;
  background: #000;
  margin-bottom: 10px;
}

.header__list::-webkit-scrollbar {
  appearance: none;
  height: 0;
}

.header__list li {
  display: inline-block;
}

.header__list a:hover,
.header__list .active {
  background: rgba(39, 194, 137, 0.582);
  color: white;
}

.header__list li a {
  padding: 5px 8px;
  border: 1px solid rgb(39, 194, 138);
  border-radius: 5px;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
  color: rgb(39, 194, 138);
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

@media screen and (max-width: 1100px) {
  .header__nav > button {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .header__nav {
    padding: 10px;
  }
}

@media screen and (max-width: 730px) {
  .header__search {
    display: none;
  }
  .header__searchBtn {
    display: inline-block;
    margin-right: 10px;
  }
}
