.settings {
  color: #fff;
  padding: 30px;
}

.settings h1 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 25px;
  opacity: 0.5;
}

.settings h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 25px;
}

.settings__display > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.settings__display .css-1yjjitx-MuiSwitch-track {
  background-color: #fff;
}
