* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 1500px;
	background: #000000;
	position: relative;
	min-height: 100vh;
	margin: 0 auto;
	overflow: auto;
}

body::-webkit-scrollbar {
	appearance: none;
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background: rgb(39, 194, 138);
	border-radius: 5px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
